/* General */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;

    background: radial-gradient(circle at center, 
    #0465a9 10%,   
    #1E90FF 30%,   
    #0074CC 50%,   
    #004080 70%,   
    #0465a9 90%    
    );
    background-size: 200% 200%;
    animation: spinBackground 6s linear infinite;
}

/* Animaci칩n para hacer girar el fondo */
@keyframes spinBackground {
    0% { background-position: 0% 0%; }
    25% { background-position: 50% 50%; }
    50% { background-position: 100% 100%; }
    75% { background-position: 50% 50%; }
    100% { background-position: 0% 0%; }
}

/* Estilos generales */
* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* Estilos del men칰 lateral */
#menu_lateral {
    position: fixed;
    left: -20%;
    top: 0;
    width: 20%;
    height: 100%;
    background-color: #ffffff;
    transition: left 0.3s ease-in-out;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.2);
    padding-top: 5%;
    overflow-y: auto;
    scrollbar-width: thin;
    z-index: 1000;
    border-radius: 1vw;
}

/* Cuerpo del carrusel */
.Cuerpo_Carusel {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 3%;
    position: relative;
    z-index: 1;
    border-radius: 1vw;
}

/* Estilo del bot칩n hamburguesa */
.menu-btn {
    position: fixed;
    top: 3%;
    left: 2%;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    background: radial-gradient(circle at center, 
    #0465a9 10%,   
    #1E90FF 30%,   
    #0074CC 50%,   
    #004080 70%,   
    #0465a9 90%    
    );
    color: #ffffff;
    padding: 3px 3px;
    border-radius: 1vw;
}

.menu-btn:hover {
    background: radial-gradient(circle at center, 
    #004080 10%,   
    #0074CC 30%,   
    #1E90FF 50%,   
    #0465a9 70%,   
    #004080 90%    
    );
    transform: scale(1.1);
}

/* Submen칰 del men칰 lateral */
.submenu_menu_lateral {
    display: none;
    list-style: none;
    padding-left: 5%;
    background-color: #ccc;
}

/* Mostrar el submen칰 cuando se activa */
.submenu_menu_lateral-toggle a {
    cursor: pointer;
}

/* Estilo de los enlaces en el men칰 lateral */
#menu_lateral a {
    text-decoration: none;
    color: #000000;
    display: block;
    padding: 0.5vw;
}

/* Estilo del submen칰 */
#menu_lateral ul {
    list-style: none;
    padding: 0;
}

#menu_lateral li {
    padding: 1vw;
}

/* Oculta el checkbox para el men칰 */
#menuToggle {
    display: none;
}

/* Men칰 desplegable */
#menusubbara {
    display: none;
    position: absolute;
    top: 10%;
    left: 20%;
    background-color: #ffffff;
    padding: 1vw;
    border: 0.1vw solid #ccc;
    font-family: 'Exotc350', Arial, sans-serif;
    color: rgb(75, 25, 60);
}

#menuToggle:checked + label + #menu {
    display: block;
}























































/*------------------------------------------------------------------------------------------------------------
Carusel Menu para el material en oferta al inicio de la pagina
------------------------------------------------------------------------------------------------------------*/
.carousel-container {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 2%;
}

.carousel-item {
    flex: 0 0 calc(100% / 3 - 2%); /* Muestra 3 elementos a la vez */
    position: relative;
    cursor: pointer;
    text-align: center;
}

.carousel-item img {
    width: 70%;
    height: auto;
    border-radius: 10px;
}

.texto-overlay {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    padding: 1% 2%;
    font-size: 1vw;
    border-radius: 5px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    border: none;
    padding: 1%;
    cursor: pointer;
    font-size: 1.5vw;
    border-radius: 50%;
}

.prev { left: 2%; }
.next { right: 2%; }

.prev:hover, .next:hover {
    background: rgba(0, 0, 0, 0.8);
}

/* 
------------------------------------------------------------------------------------------------------------
Formato para telefonos
------------------------------------------------------------------------------------------------------------
*/
@media (max-width: 600px) {
    .carousel-container {
        width: 95%;
    }

    .carousel {
        gap: 1%;
    }

    .carousel-item {
        flex: 0 0 100%;
    }

    .carousel-item img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .texto-overlay {
        font-size: 3vw;
        padding: 2% 3%;
    }

    .prev, .next {
        padding: 2%;
        font-size: 4vw;
    }
        
    .prev { left: 5%; }
    .next { right: 5%; }
}

/* Media Queries para dispositivos menores a 300px */
@media (max-width: 300px) {
    .texto-overlay {
        font-size: 4vw;
    }

    .prev, .next {
        padding: 3%;
        font-size: 5vw;
    }
        
    .prev { left: 3%; }
    .next { right: 3%; }
}

/*------------------------------------------------------------------------------------------------------------
Encabezado
------------------------------------------------------------------------------------------------------------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    border-radius: 8px 8px 0px 0px;
    background-color: #000000;
    height: auto;
    overflow-y: auto;
}

.Encabezado {
    display: flex;
    align-items: center;
    width: 50%;
}

.Encabezado h1 {
    margin-right: 2%;
    font-size: 2vw;
}

.Logo_Titular {
    width: 10%;
    max-width: 80px;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.Logo_Titular:hover {
    transform: scale(1.1);
}

.Cuerpo_Encabezado {
    margin-left: 2%;
    text-align: right;
    font-size: 1.2vw;
    font-weight: 500;
}

#busqueda-container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#searchInput {
    width: 60%;
    padding: 1%;
    font-size: 1vw;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

#searchInput:focus {
    border-color: #0465a9;
    outline: none;
}

#searchButton {
    margin-left: 1%;
    padding: 1% 2%;
    background-color: #0465a9;
    color: #ffffff;
    border: none;
    font-size: 1vw;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s;
}

#searchButton:hover {
    background-color: #034985;
}

/* Ajustes Responsivos para pantallas menores a 600px */
@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .Encabezado {
        width: 100%;
        text-align: center;
        margin-bottom: 3%;
    }

    #busqueda-container {
        width: 80%;
        justify-content: center;
    }

    #searchInput {
        width: 80%;
        font-size: 12px;
    }
}

/* Ajustes Responsivos para pantallas menores a 300px */
@media (max-width: 300px) {
    .Encabezado h1 {
        font-size: 4vw;
    }

    .Logo_Titular {
        max-width: 15%;
    }

    #searchInput {
        width: 100%;
        font-size: 12px;
    }

    #searchButton {
        font-size: 3vw;
        padding: 2%;
    }
}












































    /*<------------> Cuerpo de la pagina <------------>*/
    .container {
        width: 90%; /* Usa un ancho relativo para adaptarse a diferentes tama침os de pantalla */
        height: 95vh; /* Usa altura relativa a la ventana */
        margin: 1%; /* Centra el contenedor horizontalmente con margen autom치tico */
        padding: 0.5%;
        background: #ffffff;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    /* Scroll para la tabla */
    main {
        display: block;
        height: 54vh; /* Ajusta la altura proporcionalmente */
        overflow-y: auto;
        overflow-x: hidden;
        margin: 2% 0;
        scrollbar-width: none;
        border-radius: 10px;
    }

    /*secciones de la pagina*/
    .seccion {
        margin: auto;
        padding: 2%;
        margin-bottom: 2%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: radial-gradient(circle at center, 
        #0465a9 10%, #1E90FF 30%, #0074CC 50%, #004080 70%, #0465a9 90%);
        background-size: 200% 200%;
        animation: spinBackground 6s linear infinite;
        color: #ffffff;
        border-radius: 10px;
    }

    .seccion h1 a {
        color: #ffffff;
    }

    .seccion h1 a:hover {
        color: #000;
    }

    /* Contenedor del mapa */
    .MapaGoogle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 2%;
    }

    /* Ajustar el iframe del mapa */
    .MapaGoogle iframe {
        max-width: 100%;
        width: 80%;
        height: 40vh;
        border-radius: 10px;
    }

    /* Footer */
    footer {
        text-align: center;
        padding: 1%;
        background-color: #000000;
        color: #ffffff;
        border-radius: 0 0 8px 8px;
        font-size: 0.9em;
    }

    /*Barra de menu de las redes*/
    #menu_contactos {
        position: fixed;
        right: 1%;
        top: 50%;
        transform: translateY(-50%);
        height: 80vh;
        width: 5%;
        background-color: #ffffff;
        padding: 2% 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-y: auto;
        scrollbar-width: none;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    }

    #menu_contactos h3 {
        color: #000000;
        font-size: 1vw;
        text-align: center;
        margin-bottom: 5%;
        font-weight: 500;
    }

    #menu_contactos ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #menu_contactos li {
        margin-bottom: 15%;
    }

    #menu_contactos a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4vw;
        height: 4vw;
        border-radius: 50%;
        font-size: 1.5vw;
        transition: background 0.3s, transform 0.2s;
        color: #ffffff;
    }

    #menu_contactos a:hover {
        transform: scale(1.1);
    }

    
    
    



































/* Multi_Menu de Galeria */

/* Contenedor principal */
.Cuerpo_Carusel {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2%;
    width: 100%;
}

/* Contenedor del men칰 */
.menu-container {
    width: 30%;
}

/* Men칰 principal */
.menu {
    background: #333;
    border-radius: 5px;
    width: 100%;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Elementos del men칰 principal */
.menu > ul > li {
    position: relative; /* Permite que el submen칰 se posicione dentro de este */
}

/* Enlaces del men칰 principal */
.menu > ul > li > a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 5%;
    background: #444;
    border-bottom: 1px solid #555;
    transition: background 0.3s;
}

.menu > ul > li > a:hover {
    background: #555;
}

/* Submen칰 */
.submenu {
    display: none;
    position: absolute;
    top: 100%; /* Se ubica debajo del padre */
    left: 0;
    background: #555;
    min-width: 80%;
    border-radius: 5px;
    z-index: 1000;
}

/* 游댳 Muestra SOLO el submen칰 del elemento actual al pasar el cursor */
.menu li:hover > .submenu {
    display: block;
}

/* Asegurar que los elementos del submen칰 se vean correctamente */
.submenu li {
    list-style: none;
}

/* Estilos de los enlaces del submen칰 */
.submenu li a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 5%;
    transition: background 0.3s;
}

.submenu li a:hover {
    background: #777;
}

/* Contenedor de la imagen */
.image-container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Imagen */
.image-container img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* 
------------------------------------------------------------------------------------------------------------
Colecci칩n de im치genes de las marcas
------------------------------------------------------------------------------------------------------------
*/
/* Contenedor del collage de marcas */
.collage-container {
    display: flex;
    flex-wrap: wrap; /* Permite que las im치genes se ajusten a varias l칤neas */
    justify-content: center; /* Centra las im치genes en el contenedor */
    gap: 2%;
    padding: 2%;
    width: 100%;
}

/* Im치genes dentro del collage */
.collage-container img {
    width: 12%; /* Usa un porcentaje para que las im치genes se ajusten al ancho */
    height: auto; /* Mantiene la relaci칩n de aspecto */
    object-fit: contain;
    background: white;
    padding: 1%;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Efecto al pasar el mouse sobre las im치genes */
.collage-container img:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/* 
------------------------------------------------------------------------------------------------------------
Formato para tel칠fonos
------------------------------------------------------------------------------------------------------------
*/
/* Media Queries para dispositivos m칩viles */
@media (max-width: 600px) {
    .collage-container img {
        width: 20%;
    }
}






















































































/* 
------------------------------------------------------------------------------------------------------------
Formato para telefonos
------------------------------------------------------------------------------------------------------------
*/
@media (max-width: 600px) {
    /* Barra lateral de men칰 */
    #menu_lateral {
        width: 50%;
        left: -50%;
    }

    #menu_lateral a {
        font-size: 2.5vw;
        padding: 2vw;
    }

    /* Estilo del bot칩n hamburguesa */
    .menu-btn {
        top: 3%;
        left: 4vw;
        font-size: 2vw;
        border-radius: 10px;
    }

    /* Barra de men칰 de las redes */
    #menu_contactos {
        max-height: 80vh;
        width: 12vw;
        padding: 2vw;
    }

    #menu_contactos h3 {
        font-size: 2vw;
    }

    #menu_contactos li {
        margin-bottom: 4vw;
    }

    #menu_contactos a {
        width: 8vw;
        height: 8vw;
        border-radius: 50%;
        font-size: 3.5vw;
    }

    .Titulo_Productos a {
        font-size: 18px;
    }

    /* Contenedor de objetos */
    .container {
        width: 85%;
        padding: 2vw;
        border-radius: 2vw;
    }

    main {
        max-width: 100%;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }

    .Cuerpo {
        padding: 2vw;
        width: 100%;
        font-size: 3vw;
    }

    .Logo_Titular {
        max-height: 10vh;
        width: auto;
    }

    .Titulo h1 {
        font-size: 4vw;
    }

    .MapaGoogle iframe {
        width: 80%;
        height: 20vh;
    }

    .Cuerpo_Carusel {
        width: 97.3%;
        border-radius: 2vw;
    }

    .menu-container {
        width: 55%;
    }

    .image-container {
        width: 85%;
    }

    .image-container img {
        max-width: 100%;
        height: auto;
    }

    .carousel img {
        width: 44%;
    }
}

@media (max-width: 400px) {
    #menu_lateral {
        width: 50%;
        left: -50%;
    }

    #menu_lateral a {
        font-size: 2.5vw;
        padding: 2vw;
    }

    .menu-btn {
        top: 5vw;
        left: 4vw;
        font-size: 5vw;
    }

    #menu_contactos {
        width: 10vw;
        padding: 2vw;
    }

    .container {
        width: 85%;
        padding: 2vw;
    }
}

@media (max-width: 300px) {
    #menu_lateral {
        width: 60%;
        left: -60%;
    }

    #menu_lateral a {
        font-size: 2vw;
        padding: 2vw;
    }

    .menu-btn {
        top: 18vw;
        left: 4vw;
        font-size: 4vw;
    }

    #menu_contactos {
        width: 12vw;
        padding: 2vw;
    }

    header .Encabezado .Logo_Titular {
        width: 100px;
        height: auto;
    }

    header .Encabezado .Cuerpo_Encabezado p {
        font-size: 8px;
    }

    .container {
        width: 80%;
        height: auto;
        padding: 2vw;
    }

    footer {
        font-size: 2vw;
    }
}
